.slidecontainer {
  position: relative;
  width: 100%;
  height: 15vh;
  font-size: 30px; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contour noir autour des lettres */
  text-align: center;
  -webkit-appearance: none;
  background-color: rgba(255, 255, 255, 0);
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15vh;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  z-index: 1;
  align-self: flex-start;
  background-color: rgba(255, 255, 255, 0);

}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px; /* Ajustez la largeur pour centrer le curseur */
  background: url('/assets/prison_Mike.png') no-repeat center center; /* Inclure l'image comme fond */
  background-size: 40px 40px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.slider::-moz-range-thumb {
  width: 25px; /* Ajustez la largeur pour centrer le curseur */
  height: 25px;
  background: url('/assets/prison_Mike.png') no-repeat center center; /* Inclure l'image comme fond */
  background-size: 20px 20px;
  cursor: pointer;
  position: relative;
  z-index: 2;

}

.before, .after {
  position: absolute;
  height: 100%;
  width: 50%;
  border-radius: 10px;
  transition: all 0.2s;
  top: 0;
}

.before {
  background: white; /* Couleur avant le curseur */
  left: 0;
}

.after {
  background: black; /* Couleur après le curseur */
  right: 0;
}

.custom-slider .mat-slider-thumb {
  background: url('/assets/prison_Mike.png') no-repeat center center;
  background-size: contain;
  width: 20px; /* Ajustez la largeur de l'image en fonction de vos besoins */
  height: 20px; /* Ajustez la hauteur de l'image en fonction de vos besoins */
}


p{
  font-size: 24px; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  color: white; /* Couleur du texte */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contour noir autour des lettres */
  margin: 40px;
  background-color: transparent;
  text-align: center;
}

