<div class="landing-block">
  <form (ngSubmit)="onSubmitForm()">
    <label for="pseudoInput">Entre ton pseudo :</label>
    <input type="pseudo" id="pseudoInput" [(ngModel)]="pseudoUser" name="pseudoUser">
    <button type="submit">OK!</button>
  </form>
  <div class="association-image/prenom"*ngFor="let perso of (listperso | async)">
    <span>{{perso.prenom}}</span>
    <img src ="assets/images/{{perso.id}}">
  </div>
  <div class="landing-links">
<button (click)="onContinue()">Continuer vers partie</button>
    <router-outlet></router-outlet>
  </div>
</div>

