<body>
<div class="mat-app-background basic-container">
  <!-- Affiche le pseudo du joueur actuel -->

  <h2>Pseudo du joueur actuel : {{ players[currentPlayer]?.pseudo }}</h2>
  <iframe class="giff"
          src="https://gifer.com/embed/5Dam"
          width="100%"
          height="100%"
          style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; border: none; margin: 0; padding: 0; overflow: hidden; z-index: -1;"
          allowfullscreen
  ></iframe>
  <!-- Affiche le numéro de la manche en cours -->
  <h2>Manche en cours : {{ currentManche }}</h2>

  <!-- Affiche le numéro de la manche en cours -->
  <h2>Manche en cours : {{ this.gameSettings.currentManche }}</h2>

  <app-questions> TEST </app-questions>
  <app-slider>loading</app-slider>



  <div class="image-container">
    <img src="assets/bettrave.png" alt="Description de l'image" (click)="nextPlayerOrManche()" />
    <div class="texte-sur-image">{{ (currentPlayer < players.length - 1) ? 'Joueur suivant' : (currentManche < gameSettings.nombreManche) ? 'Passer à la manche suivante' : 'Affichage des scores' }}
    </div>
</div>

 
</div>
</body>
