<body>
<h1>Liste des cartes</h1>
  <iframe class="giff"
          src="https://gifer.com/embed/3b4"
          width="100%"
          height="100%"
          style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; border: none; margin: 0; padding: 0; overflow: hidden; z-index: -1;"
          allowfullscreen
  ></iframe>





<ng-container>
  <form [formGroup]="cardForm" (ngSubmit)="onSubmit()"  class="dessus">
    <label for="reponse"><p class="precherche">Créer une carte : </p></label>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Ex. Chocolatine" type="text" id="reponse" formControlName="reponse">
    </mat-form-field>

    <button mat-button class="nextButton retour" type="submit" [disabled]="!cardForm.valid"><p class="pbutton" >Ajouter</p></button>
  </form>


  <form class="dessus recherche">
    <label><p class="precherche">Rechercher une carte : </p></label>
    <mat-form-field appearance="fill">
      <div class="input-recherche">
        <input matInput placeholder="Ex. Pain au chocolat" [formControl]="searchForm">

        <button mat-icon-button color="primary" (click)="Recherche()" *ngIf="!isSearching">
          <mat-icon matSuffix>search</mat-icon>
        </button>

        <button mat-icon-button color="primary" (click)="AnnulerRecherche()" *ngIf="isSearching">
          <mat-icon matSuffix>close</mat-icon>
        </button>

      </div>
    </mat-form-field>


  </form>


</ng-container>



<div class="mat-elevation-z8">







  <table mat-table [dataSource]="dataSource">

    <!-- id Column -->
    <ng-container matColumnDef="#">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let card"> {{card.id}} </td>
    </ng-container>

    <!-- Response Column -->
    <ng-container matColumnDef="content">
      <th mat-header-cell *matHeaderCellDef> Réponse </th>
      <td mat-cell *matCellDef="let card">
        <ng-container *ngIf="!isEditingCard(card)">
          {{ card.reponse }}
        </ng-container>
        <ng-container *ngIf="isEditingCard(card)">
          <mat-form-field class="edit-container">
            <div class="edit-field">
            <input matInput [(ngModel)]="editedCardValue" required>
            <button mat-icon-button color="primary" (click)="saveEditedCard(card)" *ngIf="isEditingCard(card)">
              <mat-icon matSuffix>done</mat-icon>
            </button>
            </div>
          </mat-form-field>

        </ng-container>
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let card">
        <div class="actions">
        <button mat-icon-button color="warn" (click)="confirmer(card)" >
          <mat-icon matSuffix>delete</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="edit(card)"  *ngIf="!isEditingCard(card)">
          <mat-icon matSuffix>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="edit(card)"  *ngIf="isEditingCard(card)">
          <mat-icon matSuffix>close</mat-icon>
        </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of cards">
  </mat-paginator>
</div>


<app-back-button label="Retour" (click)="Retour()"></app-back-button>
</body>
