<body>
<h1>Liste des cartes</h1>
<iframe allowfullscreen
        class="giff"
        height="100%"
        src="https://gifer.com/embed/3b4"
        style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; border: none; margin: 0; padding: 0; overflow: hidden; z-index: -1;"
        width="100%"
></iframe>

<ng-container>
  <form (ngSubmit)="onSubmit()" [formGroup]="cardForm" class="dessus">
    <label for="reponse"><p class="precherche">Créer une carte : </p></label>
    <mat-form-field class="example-full-width">
      <input formControlName="reponse" id="reponse" matInput placeholder="Ex. Chocolatine" type="text">
    </mat-form-field>

    <button [disabled]="!cardForm.valid" class="nextButton retour" mat-button type="submit"><p class="pbutton">
      Ajouter</p></button>
  </form>


  <form class="dessus recherche">
    <label><p class="precherche">Rechercher une carte : </p></label>
    <mat-form-field appearance="fill">
      <div class="input-recherche">
        <input [formControl]="searchForm" matInput placeholder="Ex. Pain au chocolat">

        <button (click)="Recherche()" *ngIf="!isSearching" color="primary" mat-icon-button>
          <mat-icon matSuffix>search</mat-icon>
        </button>

        <button (click)="AnnulerRecherche()" *ngIf="isSearching" color="primary" mat-icon-button>
          <mat-icon matSuffix>close</mat-icon>
        </button>

      </div>
    </mat-form-field>


  </form>


</ng-container>


<div class="mat-elevation-z8">


  <table [dataSource]="dataSource" mat-table>

    <!-- id Column -->
    <ng-container matColumnDef="#">
      <th *matHeaderCellDef mat-header-cell> #</th>
      <td *matCellDef="let card" mat-cell> {{card.id}} </td>
    </ng-container>

    <!-- Response Column -->
    <ng-container matColumnDef="content">
      <th *matHeaderCellDef mat-header-cell> Réponse</th>
      <td *matCellDef="let card" mat-cell>
        <ng-container *ngIf="!isEditingCard(card)">
          {{ card.reponse }}
        </ng-container>
        <ng-container *ngIf="isEditingCard(card)">
          <mat-form-field class="edit-container">
            <div class="edit-field">
              <input [(ngModel)]="editedCardValue" matInput required>
              <button (click)="saveEditedCard(card)" *ngIf="isEditingCard(card)" color="primary" mat-icon-button>
                <mat-icon matSuffix>done</mat-icon>
              </button>
            </div>
          </mat-form-field>

        </ng-container>
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell> Actions</th>
      <td *matCellDef="let card" mat-cell>
        <div class="actions">

          <button (click)="edit(card)" *ngIf="!isEditingCard(card)" color="primary" mat-icon-button>
            <mat-icon matSuffix>edit</mat-icon>
          </button>
          <button (click)="edit(card)" *ngIf="isEditingCard(card)" color="primary" mat-icon-button>
            <mat-icon matSuffix>close</mat-icon>
          </button>

          <button (click)="confirmer(card)" color="warn" mat-icon-button>
            <mat-icon matSuffix>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 aria-label="Select page of cards"
                 showFirstLastButtons>
  </mat-paginator>
</div>


<app-back-button (click)="Retour()" label="Retour"></app-back-button>
</body>
