h1{
  color: white; /* Couleur du texte */
  font-size: 80px; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  font-family: 'Playton one', sans-serif; /* Famille de police */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contour noir autour des lettres */
  text-align: center;
  margin-top: 0;

}
h2{
  color: white; /* Couleur du texte */
  font-size: 50px; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  font-family: 'Playton one', sans-serif; /* Famille de police */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contour noir autour des lettres */
  text-align: center;

}
p{
  font-size: 30px; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  color: white; /* Couleur du texte */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contour noir autour des lettres */
  margin: 40px;
}
label{
  font-size: 30px; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  color: white; /* Couleur du texte */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contour noir autour des lettres */
  text-align: center;
}
div{
  text-align: center;
}


.giff{
  filter: opacity(0.8);
}

table {
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0;

}

.themes {
  display: flex;
  justify-content: center;

}

body {
  padding-top: 20px;
}


.small-button {
  height: 200px;
}

.texte-sur-image {
  width: 200px;

}

.small-text {
  font-size: 25px;
}

.recherche {
  display: flex;
  align-items: center;}

.mat-elevation-z8{
  margin: 40px;
  text-align: center;
  width: 80%;
}







.back {
  position: absolute;
  height: 70px;
  width: 70px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
app-button-small {
  position: absolute;
  top: 0;
  right: 0;
}
*/
.buttons {
  position: absolute;
  top: 0;
  left: 0;
}

.tableau {
  width: 80%;
  display: flex;
}

.tab {
  display: flex;
  justify-content: center;
}

