<h1>Thèmes</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Nom</th>
    <th scope="col">Nombre de dilemmes</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let theme of (themes$ | async)" >
    <td>{{ theme.name }}</td>
    <td>{{ theme.paires.length }}</td>
    <td>
      <a href='/cartes/{{ theme.id }}'>Afficher</a> <br>
      <button mat-icon-button color="warn" >
        <mat-icon>delete</mat-icon>
      </button>

    </td>
  </tr>
  </tbody>
</table>


<button mat-raised-button color="primary" >Créer un thème</button>
