<h1>Thèmes</h1>

<iframe class="giff"
        src="https://gifer.com/embed/9ev"
        width="100%"
        height="100%"
        style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; border: none; margin: 0; padding: 0; overflow: hidden; z-index: -1;"
        allowfullscreen
></iframe>
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Nom</th>
    <th scope="col">Nombre de dilemmes</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let theme of (themes$ | async)" >
    <td>{{ theme.name }}</td>
    <td>{{ theme.paires.length }}</td>
    <td>
      <a href='/cartes/{{ theme.id }}'>Afficher</a> <br>
      <button mat-icon-button color="warn" >
        <mat-icon>delete</mat-icon>
      </button>
      <a href='/edit/{{ theme.id }}'>Modifier</a> <br>
    </td>
  </tr>
  </tbody>
</table>


<button mat-raised-button color="primary" >Créer un thème</button>
