h1{
  color: white; /* Couleur du texte */
  font-size: 80px; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  font-family: 'Playton one', sans-serif; /* Famille de police */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contour noir autour des lettres */
  text-align: center;
  margin: 0;

}
h2{
  color: white; /* Couleur du texte */
  font-size: 50px; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  font-family: 'Playton one', sans-serif; /* Famille de police */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contour noir autour des lettres */
  text-align: center;

}
p{
  font-size: 30px; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  color: white; /* Couleur du texte */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contour noir autour des lettres */
  margin: 40px;
}
label{
  font-size: 30px; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  color: white; /* Couleur du texte */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contour noir autour des lettres */
  text-align: center;
}
div{
  text-align: center;
}
button {
  background-color: transparent;
  box-sizing: border-box;
  padding: 5px 10px;
  border: none;
  /*box-shadow: lightgray 3px 3px 7px;*/
  text-align: center;
  outline: none;
  font-size: 14px;
  font-weight: bold; /* Poids de la police */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: relative;
  text-align: center;
}

.texte-sur-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contour noir autour des lettres */

}

.giff{
  filter: opacity(0.8);
}

table {
  background-color: rgba(255, 255, 255, 0.3);
}
mat-paginator {
  background-color: rgba(255, 255, 255, 0.76);
}

.themes {
  display: flex;
  justify-content: center;

}

body {
  padding-top: 20px;
}
.image-container {
  cursor :pointer;
}

.small-button {
  height: 200px;
}

.texte-sur-image {
  width: 200px;

}

.small-text {
  font-size: 25px;
}

.recherche {
  display: flex;
  align-items: center;
}

.mat-elevation-z8{
  margin: 40px;
  text-align: center;
  margin-top: 0;
}

.input-recherche {
  display: flex;
  flex-direction: row;

}




mat-form-field{
  margin-top: 30px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-recherche {
  box-shadow: none;
  margin: 0;
}

.precherche {
  font-size: 25px;
}

.actions {
  display: flex;
  height: 100%;
}

.back {
  position: absolute;
  height: 70px;
  width: 70px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
