<!--<p *ngFor="let carteElementInArray of myCarte">{{carteElementInArray.reponse}} </p>-->
<h1>{{joueur1.pseudo}}</h1>
<iframe src="https://gifer.com/embed/5Dam" width=480 height=530.939 frameBorder="0" allowFullScreen></iframe>

<!--<img [src]="joueur1.photoUrl" >-->
<!--<h1>{{joueur2.pseudo}}</h1>-->
<!--<img [src]="joueur2.photoUrl" >-->

<!--<div *ngFor="let card of (cards$ | async)">
  <span>{{card.reponse}}</span>

</div>-->
<section>
  <div class="example-button-row">
    <button mat-raised-button color="primary" >Q1</button>
    <button mat-raised-button color="primary" >Q2</button>
  </div>
</section>

<div class="mat-app-background basic-container">
  <app-slider>loading</app-slider>
</div>



