<body>
<div>
  <h2>Thème: {{ cardTheme.name }}</h2>
</div>

<p>Fais ton choix !</p>
<mat-button-toggle-group (change)="onToggleChange($event)" aria-label="Font Style" name="fontStyle">
  <mat-button-toggle value="option1"><span class="button-toggle-text">{{option1}}</span></mat-button-toggle>
  <span class="button-toggle-space"></span>
  <mat-button-toggle value="option2"><span class="button-toggle-text">{{option2}}</span></mat-button-toggle>
</mat-button-toggle-group>

<p> Bienvenu.e dans la conférence room. Ton but deviner combien de personne voterait {{option1}}. Utilise le slider
  !</p>

</body>
