<body>
<h1>Ajouter un thème</h1>
<iframe allowfullscreen
        class="giff"
        height="100%"
        src="https://gifer.com/embed/fyAI"
        style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; border: none; margin: 0; padding: 0; overflow: hidden; z-index: -1;"
        width="100%"
></iframe>

<div class="buttons">
  <app-back-button (click)="Retour()" label="Annuler"></app-back-button>
  <app-button-small (click)="versAddCard()" label="Liste des cartes"></app-button-small>

</div>
<form>
  <div class="validation">
    <p class="ptheme">Nom du thème : </p>
    <mat-form-field class="fvalidation">
      <input
        [formControl]="themenameFC"
        matInput
        placeholder="Ex. The Office">
    </mat-form-field>
  </div>
  <div class="suite">
    <table>
      <tr>
        <td>Choix 1</td>
        <td>Choix 2</td>
      </tr>
      <tr *ngFor="let paire of liaison; let i = index">
        <td>
          <mat-form-field class="example-full-width">
            <input (focus)="handleInputFocus('inputCarte1', i, carteControls1[Number(paire.id)])"
                   (ngModelChange)="handleInputChange('inputCarte1', i, carteControls1[Number(paire.id)])"
                   [formControl]="carteControls1[Number(paire.id)]"
                   [matAutocomplete]="auto"
                   matInput
                   placeholder="Choisissez une carte"
                   type="text">
            <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <input (focus)="handleInputFocus('inputCarte2', i, carteControls2[Number(paire.id)])"
                   (ngModelChange)="handleInputChange('inputCarte2', i, carteControls2[Number(paire.id)])"
                   [formControl]="carteControls2[Number(paire.id)]"
                   [matAutocomplete]="auto"
                   matInput
                   placeholder="Choisissez une carte"
                   type="text">
            <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </td>
        <td>
          <button (click)="deleteLiaison(paire)" color="warn" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input (focus)="focusinputs(myControl1)"
                   [formControl]="myControl1"
                   [matAutocomplete]="auto"
                   matInput
                   placeholder="Ex. chocolatine"
                   type="text">
            <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <input (focus)="focusinputs(myControl2)"
                   [formControl]="myControl2"
                   [matAutocomplete]="auto"
                   matInput
                   placeholder="Ex. pain au chocolat"
                   type="text">
            <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </td>
        <td>
          <button (click)="AddLiaison()" color="primary" mat-icon-button>
            <mat-icon>add_circle</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>

</form>

<div class="bigbutton">
  <app-button-big (click)="valider()" label="Ajouter le thème"></app-button-big>
</div>


</body>
