h1{
  color: white; /* Couleur du texte */
  font-size: 80px; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  font-family: 'Playton one', sans-serif; /* Famille de police */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contour noir autour des lettres */
  text-align: center;

}
h2{
  color: white; /* Couleur du texte */
  font-size: 50px; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  font-family: 'Playton one', sans-serif; /* Famille de police */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contour noir autour des lettres */
  text-align: center;

}
p{
  font-size: 30px; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  color: white; /* Couleur du texte */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contour noir autour des lettres */
  margin: 40px;
}
label{
  font-size: 30px; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  color: white; /* Couleur du texte */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contour noir autour des lettres */
  text-align: center;
}
div{
  text-align: center;
}
button {
  background-color: transparent;
  box-sizing: border-box;
  padding: 5px 10px;
  border: none;
  box-shadow: lightgray 3px 3px 7px;
  text-align: center;
  outline: none;
  font-size: 14px;
  font-weight: bold; /* Poids de la police */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: relative;
  text-align: center;
}

.texte-sur-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contour noir autour des lettres */

}
.giff{
  filter: opacity(0.8);
}
