h1{
  color: white; /* Couleur du texte */
  font-size: 80px; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  font-family: 'Playton one', sans-serif; /* Famille de police */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contour noir autour des lettres */
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}
h2{
  color: white; /* Couleur du texte */
  font-size: 50px; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  font-family: 'Playton one', sans-serif; /* Famille de police */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contour noir autour des lettres */
  text-align: center;

}
p{
  font-size: 30px; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  color: white; /* Couleur du texte */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contour noir autour des lettres */
  margin: 40px;
}
label{
  font-size: 30px; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  color: white; /* Couleur du texte */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contour noir autour des lettres */
  text-align: center;
}
div{
  text-align: center;
}
button {
  background-color: transparent;
  box-sizing: border-box;
  padding: 5px 10px;
  border: none;
  box-shadow: lightgray 3px 3px 7px;
  text-align: center;
  outline: none;
  font-size: 14px;
  font-weight: bold; /* Poids de la police */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: relative;
  text-align: center;
}

.texte-sur-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contour noir autour des lettres */

}
.giff{
  filter: opacity(0.8);
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gagnant{
  height:50vh;
  margin:0;
}



.vainqueur {
  padding-top: 40px;
  position: relative;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  width: 100%;
  transition: opacity 1s ease;
  margin: 0;
}

.vainqueur.show {
  opacity: 1;
}


.vainqueur::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background: url('https://i.gifer.com/6SSp.gif') center center no-repeat;
  background-size: cover;
  z-index: 10;
}



h1, h2 {
  text-align: center;
}

.premier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 80vh;
}

.loader {
  text-align: center;
  font-size: 24px;
  margin-top: 50vh;
  color: white;
}








.lds-spinner {
  color: white;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

table {
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.3);
}

.classement {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 200px;
  padding-bottom: 50px;
  opacity: 0;
  transition: opacity 1s ease;
}

.classement.show {
  opacity: 1;
  transition: opacity 1s ease;
}


