body {
  box-sizing: border-box;
  width: 50%;
  margin:0 auto;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  background-color: transparent;}

h1{
  color: white; /* Couleur du texte */
  font-size: 80px; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  font-family: 'Playton one', sans-serif; /* Famille de police */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contour noir autour des lettres */
  text-align: center;
  background-color: transparent;

}
h2{
  color: white; /* Couleur du texte */
  font-size: 50px; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  font-family: 'Playton one', sans-serif; /* Famille de police */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contour noir autour des lettres */
  text-align: center;
  background-color: transparent;

}
p{
  font-size: 30px; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  color: white; /* Couleur du texte */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contour noir autour des lettres */
  margin: 40px;
  background-color: transparent;
}
label{
  font-size: 20px; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  color: white; /* Couleur du texte */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contour noir autour des lettres */
  text-align: center;
  background-color: transparent;
}

div{
  text-align: center;
  background-color: transparent;
}


.image-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 160px; /* Ajoutez la largeur souhaitée */
  height: auto;
  font-size: 8px; /* Taille de la police */
}


.giff{
  filter: opacity(0.8);
}

table {
  position: relative;
  text-align: center;
  width: 80%;
  border-collapse: collapse;
  font-size: 30px; /* Taille de la police */
  font-weight: bold; /* Poids de la police */
  color: white; /* Couleur du texte */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contour noir autour des lettres */
  margin: 40px;


}
.tableau{
  display: flex;
  justify-content: center;
  align-items: center;
}

th, td {

  padding: 8px;
  text-align: left;
}

th {
  background-color: black;
}

input {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: transparent;
  width: 100%;
}
mat-form-field{
  width: 100%;
  background-color: transparent;
}

.imag_pseudo-container-2{
  position: absolute;
  top: 0;
  left: 0;
  width: 160px; /* Ajoutez la largeur souhaitée */
  height: auto;
  font-size: 15px; /* Taille de la police */
}

.validation{
  display: flex;
  justify-content: center;
}
.test{
  width: 30%;
}


.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container-2 {
  position: relative;
}

.texte-sur-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Couleur du texte, ajustez selon vos besoins */
  font-size: 18px; /* Taille de la police, ajustez selon vos besoins */
  font-weight: bold; /* Gras, ajustez selon vos besoins */
  text-align: center; /* Centrer le texte horizontalement */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Contour noir autour des lettres */
}



.fvalidation{
  width: 30%;
  margin-top: 10px;
}

body{
  width: 100%;
}
.back {
  position: absolute;
  height: 70px;
  width: 70px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

app-button-small {
  position: absolute;
  right: 0;
  top: 0;
}

app-back-button {
  position: absolute;
  top: 0;
  left: 0;
}

