<body>
<a href='themes'>Gérer les cartes</a> <br>
<a href='config'>Configurations</a>



<h1>Nombre de Joueurs:</h1>

<iframe src="https://gifer.com/embed/14bg" width=480 height=271.543 frameBorder="0" allowFullScreen></iframe>

<form [formGroup]="form" (ngSubmit)="onSubmitForm()">
  <div>
    <label for="nbJInput">Le nombre de Joueurs:</label>
    <input type="number" id="nbJInput" formControlName="nombreJoueur" min="2" max="10">
  </div>

  <div>
    <label for="nbMInput">Le nombre de manches:</label>
    <input type="number" id="nbMInput" formControlName="nombreManche" min="2" max="10">
  </div>
</form>

<button type="submit" [disabled]="!form.valid" (click)="onContinue()" >OK!</button>

</body>
<app-audio>loading</app-audio>
<router-outlet></router-outlet>
